<div class="content" id="candy-page">
  <audio src="audio/CandyShop.mp3" autoplay>
  </audio>

<div id="candy-col-1">
  <img src="../assets/images/toad.png">
</div>

<div id="candy-col-2">
  <button ng-click="candy.pickThree()" id="choose-candy"><span id="button-text">"Choose 1 of these 3 candy!"</span></button>
</div>

<div id="candy-col-3">
    <!-- <table class="candies">
        <tr>
            <td id="red-candy"><img src="../assets/images/candy.png"></td>
            <td id="candy-descrip">Jump to another player</td>
            <td id="candy-cost"><img src="../assets/images/coin.png"></td>
        </tr>
        <tr>
            <td id="yellow-candy"><img src="../assets/images/candy.png"></td>
            <td id="candy-descrip">Swap places with another player</td>
            <td id="candy-cost"><img src="../assets/images/coin.png"><img src="../assets/images/coin.png"></td>
        </tr>
        <tr>
            <td id="green-candy"><img src="../assets/images/candy.png"></td>
            <td id="candy-descrip">Battle first player passed</td>
            <td id="candy-cost"><img src="../assets/images/coin.png"><img src="../assets/images/coin.png"></td>
        </tr>
        <tr>
            <td id="white-candy"><img src="../assets/images/candy.png"></td>
            <td id="candy-descrip">Steal <img src="../assets/images/coin.png"><img src="../assets/images/coin.png"> from each player passed</td>
            <td id="candy-cost"><img src="../assets/images/coin.png"></td>
        </tr>
        <tr>
            <td id="black-candy"><img src="../assets/images/candy.png"></td>
            <td id="candy-descrip">Roll 3 dice</td>
            <td id="candy-cost"><img src="../assets/images/coin.png"><img src="../assets/images/coin.png"></td>
        </tr>
        <tr>
            <td id="blue-candy"><img src="../assets/images/candy.png"></td>
            <td id="candy-descrip">Change location of <img src="../assets/images/star.png"></td>
            <td id="candy-cost"><img src="../assets/images/coin.png"><img src="../assets/images/coin.png"><img src="../assets/images/coin.png"></td>
        </tr>
    </table> -->

    <!-- <table class="candies">
      <button ng-click="candy.pickThree()"></button>
      <tr ng-repeat="candy in candy.candyArray">
        <td class="candy-color" id="{{candy.color}}"><img src="../assets/images/candy.png" /></td>
        <td id="candy-descrip">{{candy.description}}</td>
        <td id="candy-cost">{{candy.price}}<img src="../assets/images/coin.png" /></td>
      </tr>
    </table> -->
    <button ng-click="candy.pickThree()"></button>

    <table class="candies">
      <tr>
        <td class="candy-color" id="{{candy.stockOne.color}}"><img src="../assets/images/candy.png" /></td>
        <td id="candy-descrip">{{candy.stockOne.description}}</td>
        <td id="candy-cost">{{candy.stockOne.price}}<img src="../assets/images/coin.png" /></td>
      </tr>
      <tr>
        <td class="candy-color" id="{{candy.stockTwo.color}}"><img src="../assets/images/candy.png" /></td>
        <td id="candy-descrip">{{candy.stockTwo.description}}</td>
        <td id="candy-cost">{{candy.stockThree.price}}<img src="../assets/images/coin.png" /></td>
      </tr>
      <tr>
        <td class="candy-color" id="{{candy.stockThree.color}}"><img src="../assets/images/candy.png" /></td>
        <td id="candy-descrip">{{candy.stockThree.description}}</td>
        <td id="candy-cost">{{candy.stockThree.price}}<img src="../assets/images/coin.png" /></td>
      </tr>

    </table>


  </div>


</div>
