<div class="content" id="game-page-color">

<div class="game-col-1" ng-controller="PlayerController as player">

  <h5>Game Type</h5>
  <button ng-click="game.selectType()">Select type</button>
 {{game.gameType}}
  <h5>Select Game</h5>
  <button ng-click="game.randTwo()">Get Random 2v2</button>
  {{game.twoSelect.title}}
<br />
  <button ng-click="game.randFFA()">Get Random FFA</button>
  {{game.ffaSelect.title}}

  <h5>Select Teams</h5>
  <button ng-click="player.getTeams()">Pick Teams</button>
<!-- <ul>
  <li>{{player.teamPlayerOne.name}}</li>
  <li>{{player.teamPlayerTwo.name}}</li>
  <li>VS</li>
  <li>{{player.teamPlayerThree.name}}</li>
  <li>{{player.teamPlayerFour.name}}</li>
</ul> -->
<br />
<div id="team-player">
  <img src="{{player.teamPlayerOne.character}}" />
  <br />{{player.teamPlayerOne.name}}
</div>
<div id="team-player">
  <img src="{{player.teamPlayerTwo.character}}" />
<br />  {{player.teamPlayerTwo.name}}
</div>
VS
<div id="team-player">
  <img src="{{player.teamPlayerThree.character}}" />
<br />  {{player.teamPlayerThree.name}}
</div>
<div id="team-player">
  <img src="{{player.teamPlayerFour.character}}" />
<br />  {{player.teamPlayerFour.name}}
</div>


</div> <!-- end col-1 -->




<div class="game-col-2">
    <img src="{{game.twoSelect.cover}}" /><br />
<img src="{{game.ffaSelect.cover}}" />
</div>

<!-- <table>
  <tr ng-repeat="ffa in game.ffaArray">
    <td>{{ffa.title}}</td>
    <td>{{ffa.cover}}</td>
  </tr>
</table> -->



  <!-- <table>
    <tr ng-repeat="two in game.twoArray">
      <td>{{two.title}}</td>
      <td>{{two.cover}}</td>
    </tr>
  </table> -->





</div>
