

<div class="content" id="green-page">
    <!-- <h2><img src="../assets/images/block3.png" height="100px">
      Green Space <img src="../assets/images/block3.png" height="100px"></h2> -->

    <audio src="audio/greengreens.mp3" autoplay>
    </audio>

    <div id="green-table">
        <table class="select-green">
            <tr>
                <th>#</th>
                <th>Event</th>
            </tr>
            <tr>
                <td id="green-num">1</td>
                <td id="green-data"><span id="green-larger">-</span><img src="../assets/images/coin.png" height="30px"><img src="../assets/images/coin.png" height="30px"></td>
            </tr>
            <tr>
                <td id="green-num">2</td>
                <td id="green-data"><img src="../assets/images/backward.png" height="30px"> 2 spaces</td>
            </tr>
            <tr>
                <td id="green-num">3</td>
                <td id="green-data"><span id="green-larger">+</span><img src="../assets/images/coin.png" height="30px"><img src="../assets/images/coin.png" height="30px"></td>
            </tr>
            <tr>
                <td id="green-num">4</td>
                <td id="green-data"><img src="../assets/images/forward.png" height="30px"> 2 spaces</td>
            </tr>
            <tr>
                <td id="green-num">5</td>
                <td id="green-data">Jump to next <img src="../assets/images/greencircle.png" height="30px"></td>
            </tr>
            <tr>
                <td id="green-num">6</td>
                <td id="green-data">Jump to <img src="../assets/images/star.png" height="30px"></td>
            </tr>
        </table>

        <button id="green-result" src="../assets/images/block2.png"><span id="green-result"></span></button>

</div>





</div>
