<div class="content" id="players-page">
  <h3>Players!</h3>
<div id="all-players">


<div id="player-display">
<img src="{{ character }}" />
<p>{{ player }}</p>
<p>P1</p>
</div>

<div id="player-display">
<img src="{{ character }}" />
<p>{{ player }}</p>
<p>P2</p>
</div>

<div id="player-display">
<img src="{{ character }}" />
<p>{{ player }}</p>
<p>P3</p>
</div>

<div id="player-display">
<img src="{{ character }}" />
<p>{{ player }}</p>
<p>P4</p>
</div>



</div> <!-- END ALL PLAYERS -->





</div>
