/* ------------------- GENERAL ------------------- */
@font-face { font-family: 'Mario'; src: url('../assets/fonts/mario.ttf'); }
@font-face { font-family: 'Balls'; src: url('../assets/fonts/balls.ttf'); }
@keyframes blinker {
  50% { opacity: 0; }
}
html {
  height: 100%;
  box-sizing: border-box;
}
.content {
  padding-bottom: 500px;
  width: 100%;
  float: left;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    min-height: 100%;
    font-family: "Trebuchet MS";
    background-color: #42b3f4;
}
h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    margin: 20px auto auto -250px;
    font-family: 'Mario';
    padding-top: 200px;
}
h2 {
    text-align: center;
    font-size: 22px;
    color: white;
    font-family: 'Mario';
}
h3 {
    text-align: center;
    font-size: 26px;
    font-family: 'Mario';
}
h4 {
    font-size: 26px;
    text-align: center;
    background-color: pink;
}
h5 {
  text-align: center;
  font-family: 'Mario';
  background-color: lightgrey;
  margin: 0;
}
h6 {
  font-family: 'Mario';
  display: inline;
}
p {
  color: black;
  text-align: center;
  font-size: 9px;
  font-family: 'Mario';
}
th {
  background-color: #d1d3d1;
}
ul {
  float: left;
}
a {
  text-decoration: none;
  display: block;
  color: inherit;
}
a:hover {
  opacity: 0.5;
  letter-spacing: 2px;
}
a:focus {
  letter-spacing: 5px;
}
/*th, td {
    padding: 3px 12px;
    font-size: 26px;
}*/
.div {
    margin-right: 50px;
    float: left;
}

#backbutton {
  background-image: url('../assets/images/block2.png');
  background-size: contain;
  width: 80px;
  height: 80px;
  padding: 15px;
  margin-left: 15px;
  margin-top: 15px;
}

/* ------------------- STATIC ------------------- */
.static {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
  height: 170px;
  border-top: 5px outset;
}
/* ------------------- PAGES ------------------- */
#pages-box {
  width: 33%;
  background-color: #74fcbc;
  height: 100%;
  float: left;
}
.page-list {
  list-style-type: none;
  width: 50%;
  float: left;
  margin: auto;
  padding: 0;
}
.page-list li {
  background-color: white;
  width: 75%;
  margin: 5px auto;
  border: 2px outset;
  border-radius: 5px;
  padding: 2px 0;
  font-family: 'Mario';
  font-size: 9px;
}


/* ------------------- COUNTER ------------------- */
#counter-box {
  width: 67%;
  background-color: #2dad71;
  height: 100%;
  float: left;
  border-left: 5px outset;
}
#counter-box table {
  margin-left: 20px;
}
#counter-box th {
  width: 50px;
}
#counter-box td {

}
#counter-box img {
  height: 15px;
}
#red-th {
  background-color: #db4646;
}
#green-th {
  background-color: #80db76;
}
#counter-box input {
  width: 100px;
  font-size: 9px;
  font-family: 'Mario';
  text-align: center;
  border: none;
}
.counterbutton {
    background-color: white;
    color: black;
    height: 100%;
    width: 100%;
    font-size: 9px;
    font-family: 'Mario';
    margin: 0;
    padding: 0;
    text-align: center;
    border: none;
}
#turn-counter {
  float: left;
  padding-left: 30px;
}
#game-turn {
  width: 150px;
  height: 100px;
  background-color: white;
  border: 3px inset;
}
#next-player {
  width: 150px;
  height: 40px;
  border: 3px outset;
  background-color: skyblue;
  font-family: 'Mario';
  font-size: 9px;
}
/* ------------------- SONG  ------------------- */
.song {
  height: 50%;
  width: 100px;
  float: left;
}
#change-song {
  background-color: white;
}
#pause-song {
  background-color: red;
}

/* ------------------- CURRENT TURN ------------------- */
#current-turn {
  height: 100%;
  width: 150px;
  background-color: white;
  opacity: 0.5;
  float: right;
  margin: 5px;
}
#current-turn img {
  height: 140px;
  margin: auto;
  padding-top: 10px;
}
#current-turn p {
  font-size: 8px;
  display: inline-block;
}

/* ------------------- HOME PAGE ------------------- */
#home-page {
  height: 800px;
  background-image: url('../assets/images/warp.jpg');
  background-size: cover;
  margin-top: -20px;
}
#new-game {
  margin: 50px auto auto 300px;
  font-family: 'Mario';
  width: 300px;
  height: 100px;
  border-radius: 15px;
  border: 5px outset;
  background-color: lightblue;
  font-size: 20px;
}

/* ------------------- NEW GAME ------------------- */
#newgame-page {
  background-color: lightblue;
}
#newgame-page form {
  background-color: white;
  margin-top: 10px;
}
#char-select {
  margin: 30px auto;
  width: 60%;
  text-align: center;
  background-color: blanchedalmond;
  padding: 10px 20px;
  border: 5px inset;
  border-radius: 15px;
}
#startgame {
  width: 50%;
  height: 50px;
  border-radius: 15px;
  border: 5px outset;
  margin: 15px;
  background-color: lightgreen;
  font-family: 'Mario';
}
#char-select a {
  display: block;
}
#char-select input {
  margin: auto 30px;
}
#char-forms {
  width: 80%;
  border: 2px inset;
  border-radius: 15px;
  margin: auto;
  padding: 15px;
  background-color: tomato;
}
/*select#char-img option[value="mario"] { background-image: url('../assets/images/yoshi.png'); height: 30px;}*/

/* ------------------- PLAYERS PAGE --------------------- */
#players-page {
  background-color: lightgreen;
}
#player-display {
  height: 300px;
  width: 20%;
  float: left;
  background-color: lightblue;
  margin: 15px;
  border: 5px inset;
  border-radius: 15px;
}
#player-display img {
  height: 200px;
}
#all-players {
  margin: auto;
}



/* ------------------- INDEX PAGE --------------------- */
#index {
  background-image: url('https://../assets/images5.alphacoders.com/490/490259.jpg');
  background-size: cover;
}
#game-page {
  background-color: tomato;
}
#rules-page {
  background-color: pink;
}

.image-list {
  list-style-type: none;
}
.image-list li {
  padding: 15px 0;

}
 #center-section {
   margin: auto;
 }
.center {
  margin: auto 20%;
}
#green {
    background-color: #80db76;
    color: black;
}
#game {
    background-color: tomato;
    color: white;
}
#rules {
    background-color: pink;
    color: black;
}
#candy {
    background-color: #9188f7;
    color: white;
}
#casino {
    background-color: #ce5475;
    color: white;
}
#casino-page {
  background-color: #ce5475;
  background-position: center;
  background-repeat: repeat-x;
}
#bowser {
  background-color: #b23030;
  color: white;
}


/* ------------------- COUNTER PAGE ------------------- */

#namesize {
  font-size: 10px;
}
#playersize {
  font-size: 22px;
  font-family: 'Mario';
}
#labelsize {
  font-family: 'Mario';
  font-size: 16px;
  color: black;
}
#counter {
  float: left;
}
#turncounter {
  font-family: 'Mario';
}
#counterbutton {
    background-color: white;
    color: black;
    height: 70px;
    width: 250px;
    border-radius: 20px;
    font-size: 22px;
    font-family: 'Mario';
}

button:focus {
  display: none;
}


/* ------------------- GREEN PAGE ------------------- */
#green-page {
  background-color: #6aed65;
}
#roll-green {
  height: 0px;
  width: 0px;
  display: none;
}
#green-result {
  font-family: 'Mario';
  color: white;
  font-size: 120px;
  background-image: url('../assets/images/block2.png');
  background-size: cover;
  height: 300px;
  width: 300px;
}



/* ------------------- MINI GAME PAGE ------------------- */
.free {
  margin: auto;
}
.free td {
  width: 300px;
}
.twov {
  margin: auto;
}
.twov td {
  width: 300px;
}
.auto {
  margin: auto;
}
.auto th {
  width: 300px;
}
.game-list {
    float: left;
    margin: 0 50px;
    line-height: 25px;
}
.game-button {
  width: 150px;
  height: 50px;
  border: none;
  background-color: #d1d3d1;
  font-family: 'Mario';
}
.game-section {
  /*text-align: center;*/
  /*display: inline-block;*/
  float: left;
  margin: 30px auto;
}
#select-team {
  width: 300px;
}
.game-header {
  font-family: 'Mario';
}
.game-type {
  background: none;
}



/* ------------------- CANDY PAGE ------------------- */
#candy-page {
  background-color: #9188f7;
}
#candy-col-1 {
  width: 25%;
  float: left;
}
#candy-col-1 img {
  height: 400px;
  margin: 90px auto auto 50px;
}
#candy-col-2 {
  width: 20%;
  float: left;
  margin: 80px auto auto auto;
}
#candy-col-3 {
  width: 55%;
  float: left;
  margin-top: 120px;
  padding-left: 100px;
}
.candies img {
  height: 30px;
}
#candy-descrip {
  width: 300px;
}
#candy-cost {
  width: 100px;
}
#choose-candy {
  background-color: white;
  padding: 15px 10px;
  border-radius: 15px 15px 15px 0;
}
.candy-head th {
  width: 500px;
}
#roll {
    background-color: white;
    color: black;
    height: 60px;
    width: 150px;
    border-radius: 20px;
}
#candy-list {
    float: left;
    margin: 0 50px;
    line-height: 25px;
}
#roll-result {
    font-color: white;
    font-size: 50px;
    display: inline;
}
#candy-table, th, td {
    border: outset;
    background-color: white;
    text-align: center;
}
#candy-table {
    float: left;
}
#red-candy {
    background-color: #db4646;
    padding: 2px 20px;
}
#yellow-candy {
    background-color: #f9ee4f;
    padding: 2px 20px;
}
#green-candy {
    background-color: #4dd62f;
    padding: 2px 20px;
}
#white-candy {
    background-color: white;
    padding: 2px 20px;
}
#black-candy {
    background-color: #232323;
    padding: 2px 20px;
    color: white;
}
#blue-candy {
    background-color: #3e66dd;
    padding: 2px 20px;
    color: white;
}
#candy-results {
  margin: 0;
  font-size: 70px;
}




/* ------------------- RULES PAGE ------------------- */
.rules {
    margin: auto;
    float: right;
}
.rule-col-1 {
  float: left;
  width: 30%;
  padding: 30px;
}
.rule-col-2 {
  float: left;
  width: 70%;
}
#rule-subcol-1 {
  float: left;
  margin-left: 100px;
}
#rule-subcol-2 {
  float: left;
  margin-left: 100px;
}
#ruleDescrip {
    max-width: 350px;
    border: 2px inset;
    padding: 15px;
    background-color: white;
}
#blue {
  background-color: #3e66dd;
}
#red {
  background-color: #db4646;
}
#greentd {
  background-color: #4dd62f;
}
#darkgreen {
  background-color: #397c3b;
}
#rainbow {
    background-image: url(../assets/images/rainbow.jpg);
    background-size: cover;
}
#black {
  background-color: #232323;
}
#left {
  padding-left: 100px;
}
#centerplus {
  position: absolute;
  width: 800px;
  z-index: 15;
  top: 40%;
  left: 50%;
  margin: -100px 0 0 -320px;
}
#button-text {
  font-size: 24px;
}
#ruleDescrip ul {
  float: none;
}



/* ------------------- CASINO PAGE ------------------- */
.yahtzeeWin {
  position: fixed;
  float: right;
}
.stats  {
  margin: 10px auto 30px auto;
}
.stats td {
  font-family: 'Balls';
  font-size: 35px;
  color: #66e8d8;
  background-color: #141414;
  border: 2px inset;
}
.yahtzee {
  margin: auto;
}
.yahtzee td {
  width: 200px;
  height: 150px;
  color: red;
  border: 10px inset;
  background: linear-gradient(gray, white, gray);
}
.slot-machine {
  border: 7px outset;
  float: left;
  width: 700px;
  height: 500px;
  margin: auto;
  background-color: #4b4e4f;
  background-image: url('../assets/images/yoshiback.png');
  background-position: top;
  background-size: cover;
  box-shadow: 10px 10px 10px black;
}
.spin {
  font-family: 'Mario';
  font-size: 60px;
}
.spinbutton {
  background-color: #d84b4b;
  height: 70px;
  width: 500px;
  margin: 0px 100px;
  border: 5px outset;
  font-size: 24px;
  font-family: 'Mario';
}
#spinbuttonbox {
  margin-left: 450px;
  margin-right: 400px;
}
#reset {
  background-color: #dbc72e;
  height: 75px;
  width: 150px;
  float: right;
  border: 5px outset;
  margin-top: 15px;
  margin-right: 15px;
  font-family: 'Mario';
  font-size: 13px;
}
.siren {
  float: left;
  margin-left: 500px;
}
.everything {
  margin: auto;
}
.slotprizes {
  float: left;
  border: 2px solid white;
}
.slotprizes td {
  background-color: tomato;
  font-family: 'Mario';
  font-size: 15px;
  color: white;
}
.slotprizes img {
  padding-left: 5px;
  padding-top: 5px;
}
.yoshiwin {
  float: left;
  margin-left: 300px;
  margin-right: 50px;
}
th {
  background-color: #d1d3d1;
}
#yoshi {
  float: left;
  margin: 100px 40px auto 80px;
}

/* ------------------- BOWSER PAGE ------------------- */
#bowser-page {
  background: linear-gradient(#701a1a, black);
}
#b-left {
  width: 30%;
  float: left;
}
#b-left img {
  margin: 30px auto auto 20px;
  height: 500px;
}
#b-right {
  width: 70%;
  float: right;
}
#bowser-table {
  margin: auto;
  margin-top: 50px;
  background: linear-gradient(gray, black);
  padding: 50px 50px;
  border: 5px inset;
  width: 550px;

}
#bowser-table td{
  min-width: 200px;
  height: 200px;
  color: red;
  border: 10px inset;
  background: linear-gradient(gray, white, gray);
}

#bowser-button {
  margin-left: 90px;
  width: 720px;
  height: 60px;
  background-color: black;
  color: white;
  letter-spacing: 5px;
  font-size: 20px;
  font-family: 'Mario';
  border: 3px outset;
}
.b-spin {
  font-family: 'Mario';
  font-size: 45px;
}
#quantity img {
  height: 60px;
}
#give-take img {
  height: 90px;
}
#trader img {
  height: 120px;
}
